
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="form-group col-sm-4">
        <p><h3>Driver List</h3></p>

        <a href="/drivers/New" class="btn btn-primary btn-new-confirmation">New driver</a>

        <table id="driver-list" class="table table-bordered table-hover">
            <thead>
                <tr>
                    @*<th>Driver Id</th>*@
                    <th>Driver Name</th>
                    <th>Void</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            console.log("Document ready");
            var table = $("#driver-list").DataTable({
                ajax: {
                    url: "/api/getalldrivers",
                    dataSrc: ""
                },
                columns: [
                    //{
                    //    data: "id"
                    //},
                    {
                        data: "name"
                    }
                    ,
                    {
                        data: "void",
                        render: function (data) {
                            if (data == true) {
                                return "<input type='checkbox' onclick='return false;' checked><p style='display:none'>1</p>";
                            }
                            else {
                                return "<input type='checkbox' onclick='return false;'><p style='display:none'>0</p>";
                            }

                        }
                    }

                ],
                initComplete: function () {
                    console.log("Table ready");
                },
                rowCallback: function (row, data) {
                    $(row).css("cursor", "pointer");
                    $(row).on("click", function (e) {
                        if (e.target.tagName != 'BUTTON') {
                            window.location = "/drivers/edit/" + data.id;
                        }
                    });
                }
            });


        });
    </script>
}
