
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="form-group col-sm-4">

        <h2>Users</h2>

        <a id="new_user" class="btn btn-primary" href="/account/register">Add User</a>

        <table id="users_table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    @*<th>User Id</th>*@
                    <th>User Name</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            console.log("Document ready");
            var table = $("#users_table").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc: ""
                },
                columns: [
                    //{
                    //    data: "id"
                    //},
                    {
                        data: "userName"
                    }

                ],
                initComplete: function () {
                    console.log("Table ready");
                },
                scrollY: '60vh',
                scrollCollapse: true,
                paging: false,
                rowCallback: function (row, data) {
                    $(row).css("cursor", "pointer");
                    $(row).on("click", function (e) {
                        if (e.target.tagName != 'BUTTON') {
                            window.location = "/users/edit?user=" + data.id;
                        }
                    });
                }
            });

        });
    </script>
}
