
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><h3>PriorityDelivery List</h3></p>

<a href="/priorityDelivery/New" class="btn btn-primary btn-new-confirmation">New PriorityDelivery item</a>

<table id="priorityDelivery-list" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>PriorityDelivery Id</th>
            <th>PriorityDelivery Name</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
    {
    <script>
        $(document).ready(function () {
            console.log("Document ready");
            var table = $("#priorityDelivery-list").DataTable({
                ajax: {
                    url: "/api/priorityDelivery",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "name"
                    }
                    ,
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-priorityDelivery-id=" + data + ">Delete</button>";
                        }
                    }
                ],
                initComplete: function () {
                    console.log("Table ready");
                },
                rowCallback: function (row, data) {
                    $(row).css("cursor", "pointer");
                    $(row).on("click", function (e) {
                        if (e.target.tagName != 'BUTTON') {
                            window.location = "/priorityDelivery/edit/" + data.id;
                        }
                    });
                }
            });

            $("#priorityDelivery-list").on("click", ".js-delete", function () {
                var button = $(this);
                console.log("Delete button was pressed id="+ button.attr("data-priorityDelivery-id"));
                bootbox.confirm("Are you sure you want to delete the item?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/priorityDelivery/" + button.attr("data-priorityDelivery-id"),
                            method: "DELETE",
                            success: function () {
                                console.log("Item was deleted");
                                //table.row(button.parents("tr")).remove().draw();
                                table.ajax.reload();
                            }
                        });
                    }
                });

            });
        });
    </script>
}


