
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="form-group col-sm-4">
        <p><h3>Equipment List</h3></p>

        <a href="/Equipment/New" class="btn btn-primary btn-new-confirmation">New Equipment item</a>

        <table id="equipment-list" class="table table-bordered table-hover">
            <thead>
                <tr>
                    @*<th>Equipment Id</th>*@
                    <th>Equipment Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            console.log("Document ready");
            var table = $("#equipment-list").DataTable({
                ajax: {
                    url: "/api/equipment",
                    dataSrc: ""
                },
                columns: [
                    //{
                    //    data: "id"
                    //},
                    {
                        data: "name"
                    }
                    ,
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-equipment-id=" + data + ">Delete</button>";
                        }
                    }
                ],
                initComplete: function () {
                    console.log("Table ready");
                },
                rowCallback: function (row, data) {
                    $(row).css("cursor", "pointer");
                    $(row).on("click", function (e) {
                        if (e.target.tagName != 'BUTTON') {
                            window.location = "/equipment/edit/" + data.id;
                        }
                    });
                }
            });

            $("#equipment-list").on("click", ".js-delete", function () {
                var button = $(this);
                console.log("Delete button was pressed id=" + button.attr("data-equipment-id"));
                bootbox.confirm("Are you sure you want to delete the item?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/equipment/" + button.attr("data-equipment-id"),
                            method: "DELETE",
                            success: function () {
                                console.log("Item was deleted");
                                //table.row(button.parents("tr")).remove().draw();
                                table.ajax.reload();
                            }
                        });
                    }
                });

            });
        });
    </script>
}


