
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>



<div class="row">
    <table id="stopsTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="display:none;">#</th>
                <th>From</th>
                <th>To</th>
                @*<th>Driver assigned</th>*@
                <th>Driver select</th>
                <th>Timer Start Date</th>
                <th>Timer Start Time</th>
                <th>Timer End Date</th>
                <th>Timer End Time</th>
                <th>Calculated Time</th>
                <th>Distance</th>
                <th>Rate for time</th>
                <th>Rate for distance</th>
                <th>Fine</th>
                <th>Pay</th>
            </tr>
        </thead>
        <tbody>
            <tr id="row_0">
            </tr>
        </tbody>
    </table>
</div>



<a id="driver_button" class="btn btn-primary">Submit</a>


@*<select class='form-control' id='sel_1'>
        <option value='8'></option><option value='9'>Terion</option><option value='10'>Gregor</option><option value='11'>Jemmy</option>
    </select>*@



@section scripts
    {
    <script>
        $(document).ready(function () {
            console.log("Document ready");
            driver_html = "";

            $.get("/api/drivers", function (data) {
                //console.log("driver=" + data);

                for (var i = 0, len = data.length; i < len; i++) {
                    ////console.log("Hazmat=" + data[i].name);
                    driver_html = driver_html + "<option value='" + data[i].id + "'>" + (data[i].name == null ? "" : data[i].name) + "</option>";
                }
                console.log("driver=" + driver_html);

            }, "json");

            var confirmationId = window.location.pathname
                .toUpperCase()
                .replace("/loadconfirmationslegs/index/".toUpperCase(), "")
                .replace("#", "")
                .trim();
            console.log("confirmationId=" + confirmationId);

            var currentdate = new Date();
            var datetime = currentdate.getFullYear() + "-"
                + ((currentdate.getMonth() + 1) < 10 ? "0" : "") + (currentdate.getMonth() + 1) + "-"
                + (currentdate.getDate() < 10 ? "0" : "") + (currentdate.getDate()) + "T"
                + (currentdate.getHours() < 10 ? "0" : "") + currentdate.getHours() + ":"
                + (currentdate.getMinutes() < 10 ? "0" : "") + currentdate.getMinutes() + ":"
                + (currentdate.getSeconds() < 10 ? "0" : "") + currentdate.getSeconds();
            console.log("current datetime=" + datetime);


            $("input[type='text']").click(function () {
                $(this).select();
            });

            $("input[type='text']").on("focus", function () {
                $(this).select();
            });


            $.get("/api/legs/" + confirmationId, function (data) {

                rowNumber = data.length;
                for (var i = 0, len = data.length; i < len; i++) {
                    console.log("1=" + data[i].stop1.facilityName + " 2=" + data[i].stop2.facilityName);

                    var date1 = "";
                    var date2 = "";
                    var time1 = "";
                    var time2 = "";

                    if (data[i].dateTime1 != null) {
                        var datetimeArr = (data[i].dateTime1 == null ? "" : data[i].dateTime1.split("T"));
                        var date1Arr = datetimeArr[0].split("-");
                        date1 = date1Arr[2] + "-" + date1Arr[1] + "-" + date1Arr[0]
                        time1 = datetimeArr[1].slice(0, 5);
                    }

                    if (data[i].dateTime2 != null) {
                        var datetimeArr = (data[i].dateTime2 == null ? "" : data[i].dateTime2.split("T"));
                        var date2Arr = datetimeArr[0].split("-");
                        date2 = date2Arr[2] + "-" + date2Arr[1] + "-" + date2Arr[0]
                        time2 = datetimeArr[1].slice(0, 5);
                    }

                    if (data[i].distance == null) {
                        data[i].distance = "";
                    }
                    if (data[i].driverPay == null) {
                        data[i].driverPay = "";
                    }

                    $("#row_0").before("<tr id='row_1'>" +
                        "<td id='id_" + (i + 1) + "' style='display: none;'>" + data[i].id + "</td>" +
                        "<td id='cell_11'>" + data[i].stop1.facilityName + "</td>" +
                        "<td id='cell_12'>" + data[i].stop2.facilityName + "</td>" +
                        //"<td>" + (data[i].driver.name == null ? "No driver assigned" : data[i].driver.name) + "</td>" +
                        "<td><select class='form-control driver_name' style='text-align:right;' id='driver_"+(i+1)+"'>" + driver_html + "</select></td>" +
                        "<td style='width: 105px !important;'><input value='" + date1+"' class='form-control date_input_field' id='date1_"+(i+1)+"' type='text'></td>" +
                        "<td style='width: 75px !important;'><input value='" + time1 + "' class='form-control time_input_field' id='time1_"+(i+1)+"' type='text'></td>" +
                        "<td style='width: 105px !important;'><input value='" + date2 + "' class='form-control date_input_field' id='date2_"+(i+1)+"' type='text'></td>" +
                        "<td style='width: 75px !important;'><input value='" + time2 + "' class='form-control time_input_field' id='time2_"+(i+1)+"' type='text'></td>" +
                        "<td></td>" +
                        "<td style='width: 90px !important;text-align: right!important;'><input value='" + data[i].distance + "' class='form-control' id='distance_" + (i + 1) +"' type='text' style='text-align:right;'></td>" +
                        "<td></td>" +
                        "<td></td>" + 
                        "<td></td>" +  
                        "<td style='width: 90px !important;'><input value='" + data[i].driverPay + "' class='form-control' id='driver_pay_" + (i + 1) + "' type='text' style='text-align:right;'></td>" +  
                        "</tr>");

                    $("#driver_" + (i + 1)).val(data[i].driver.id);
                }

                $(".date_input_field").change(function () {
                    $(this).css("background-color", "");

                    if ($(this).val().length == 4) {
                        $(this).val($(this).val().toString().slice(0, 2) +
                            "-" + $(this).val().toString().slice(2, 4) + "-" + currentdate.getFullYear());
                    }

                    if ($(this).val().length == 2) {
                        $(this).val($(this).val().toString().slice(0, 2) +
                            "-" + ((currentdate.getMonth() + 1) < 10 ? "0" : "") +
                            (currentdate.getMonth() + 1) + "-" + currentdate.getFullYear());
                    }

                    if ($(this).val().length == 1) {
                        $(this).val("0" + $(this).val().toString().slice(0) +
                            "-" + ((currentdate.getMonth() + 1) < 10 ? "0" : "") +
                            (currentdate.getMonth() + 1) + "-" + currentdate.getFullYear());
                    }

                    if ($(this).val().length == 3) {
                        $(this).val("0" + $(this).val().toString().slice(0, 1) +
                            "-" + $(this).val().toString().slice(1, 3) + "-" + currentdate.getFullYear());
                    }

                    if ($(this).val().length == 8) {
                        $(this).val($(this).val().toString().slice(0, 2) +
                            "-" + $(this).val().toString().slice(2, 4) + "-" + $(this).val().toString().slice(4, 9));
                    }

                    var dateArr = $(this).val().split("-");

                    //for (i = 0; i < dateArr.length; i++) {
                    //console.log("array=" + dateArr[i]);
                    if (dateArr[0] > 31) {
                        $(this).css("background-color", "#ff4136");
                        bootbox.alert("Please enter a valid DAY. Your DAY is larger than 31");
                        bootbox.alert("Please enter a valid DAY. Your DAY is larger than 31");
                    }
                    if (dateArr[0] > 29 && dateArr[1] == "02") {
                        $(this).css("background-color", "#ff4136");
                        bootbox.alert("Please enter a valid DAY. Your DAY is larger than 29");
                        bootbox.alert("Please enter a valid DAY. Your DAY is larger than 29");
                    }
                    if (dateArr[1] > 12) {
                        $(this).css("background-color", "#ff4136");
                        bootbox.alert("Please enter a valid MONTH. Your MONTH is larger than 12");
                        bootbox.alert("Please enter a valid MONTH. Your MONTH is larger than 12");
                    }
                    if (dateArr[2] > 2030 || dateArr[2] < 2020) {
                        $(this).css("background-color", "#ff4136");
                        bootbox.alert("Please enter a valid YEAR. Your YEAR is larger than 2030 or smaller than 2020");
                        bootbox.alert("Please enter a valid YEAR. Your YEAR is larger than 2030 or smaller than 2020");
                    }

                    if (dateArr[0] < currentdate.getDate() &&
                        dateArr[1] <= (currentdate.getMonth() + 1)
                        && dateArr[2] <= currentdate.getFullYear()) {
                        $(this).css("background-color", "#ff4136");
                        bootbox.alert("Please enter a valid DATE. Your DATE has passed");
                        bootbox.alert("Please enter a valid DATE. Your DATE has passed");
                    }
                    //}

                    if ($(this).attr("id") == "pu_date1") {
                        //console.log("You just pressed");
                        $("#pu_time1").focus();
                    }

                    if ($(this).attr("id") == "pu_date2") {
                        //console.log("You just pressed");
                        $("#pu_time2").focus();
                    }

                    if ($(this).attr("id") == "del_date1") {
                        //console.log("You just pressed");
                        $("#del_time1").focus();
                    }

                    if ($(this).attr("id") == "del_date2") {
                        //console.log("You just pressed");
                        $("#del_time2").focus();
                    }

                    if ($(this).attr("id") == "stop_date1") {
                        //console.log("You just pressed");
                        $("#stop_time1").focus();
                    }


                    if ($(this).attr("id") == "stop_date2") {
                        //console.log("You just pressed");
                        $("#stop_time2").focus();
                    }


                });

                $(".time_input_field").change(function () {
                    console.log("pressed");
                    $(this).css("background-color", "");

                    if ($(this).val().length == 4) {
                        $(this).val($(this).val().toString().slice(0, 2) +
                            ":" + $(this).val().toString().slice(2, 4));
                    }

                    if ($(this).val().length == 2) {
                        $(this).val($(this).val().toString().slice(0, 2) + ":00");
                    }

                    var dateArr = $(this).val().split(":");

                    //for (i = 0; i < dateArr.length; i++) {
                    //console.log("array=" + dateArr[i]);
                    if (dateArr[0] > 23) {
                        $(this).css("background-color", "#ff4136");
                        bootbox.alert("Please enter a valid TIME. Your HOURS are larger than 23");
                        bootbox.alert("Please enter a valid TIME. Your HOURS are larger than 23");
                    }
                    if (dateArr[1] > 59) {
                        $(this).css("background-color", "#ff4136");
                        bootbox.alert("Please enter a valid TIME. Your MINUTES are larger than 59");
                        bootbox.alert("Please enter a valid TIME. Your MINUTES are larger than 59");
                    }
                    //}

                    if ($(this).attr("id") == "pu_time1") {
                        //console.log("You just pressed");
                        $("#pu_date2").focus();
                    }
                    if ($(this).attr("id") == "pu_time2") {
                        //console.log("You just pressed");
                        $("#del_date1").focus();
                    }

                    if ($(this).attr("id") == "del_time1") {
                        //console.log("You just pressed");
                        $("#del_date2").focus();
                    }

                    if ($(this).attr("id") == "stop_time1") {
                        console.log("You just pressed");
                        $("#stop_date2").focus();
                    }


                });

                $("input[type='text']").click(function () {
                    $(this).select();
                });

                $("input[type='text']").on("focus", function () {
                    $(this).select();
                });


                //$("#driver_1").val(10);

            }, "json");



            $("#driver_button").on("click", function () {
                console.log("Submit button was pressed");

                console.log("rowNumber=" + rowNumber);

                //for (var i = 1, len = rowNumber; i <= len; i++) {
                //    if ($("#driver_" + i).val() == 8) {
                //        bootbox.alert("You didn't specify the driver.")
                //        return;
                //        return;
                //    }
                //}


                for (var i = 1, len = rowNumber; i <= len; i++) {
                    //console.log("driver name=" + $("#driver_" + i).val() + " id=" + $("#id_" + i).html());



                    var dateTime1 = "";

                    if ($("#date1_" + i).val()!="") {
                        var date1Arr = $("#date1_" + i).val().split("-");
                        dateTime1 = date1Arr[2] + "-" + date1Arr[1] + "-" + date1Arr[0] + "T" + $("#time1_" + i).val() + ":00";
                    }


                    var dateTime2 = "";

                    if ($("#date2_" + i).val() != "") {
                        var date2Arr = $("#date2_" + i).val().split("-");
                        dateTime2 = date2Arr[2] + "-" + date2Arr[1] + "-" + date2Arr[0] + "T" + $("#time2_" + i).val() + ":00";
                    }

                    console.log("dateTime2=" + dateTime2);

                    $.ajax({
                        url: "/api/legs",
                        method: "PUT",
                        data: {
                            "id": $("#id_" + i).html(),
                            "driverId": $("#driver_" + i).val(),
                            "dateTime1": dateTime1,
                            "dateTime2": dateTime2,
                            "distance": $("#distance_" + i).val(),
                            "driverPay": $("#driver_pay_" + i).val()
                        }
                    })
                        .done(function () {
                            console.log("The legs were updated.");

                            location.reload();


                            //window.location = window.location.origin + "/loadconfirmations/edit/" + confirmationId;
                        })
                        .fail(function () {
                            //console.log("fail to update del stop");
                            bootbox.alert("Failed to update legs");
                        })

                }



            });

            //console.log("User name=@User.Identity.Name");

            @*//console.log("User name=@User.IsInRole('CanEnter')");*@



            //$("#customer_1").val("10");

            //$("#customer_1").get(0).selectedIndex = 2; //WORKING











            //var table = $("#stopsTable").DataTable({
            //    ajax: {
            //        url: "/api/legs/" + confirmationId,
            //        dataSrc: ""
            //    },
            //    columns: [
            //        {
            //            data: "id"
            //        },
            //        {
            //            data: "",
            //            render: function (data, type, leg) {
            //                return leg.stop1.facilityName;
            //            }
            //        },
            //        {
            //            data: "",
            //            render: function (data, type, leg) {
            //                return leg.stop2.facilityName;
            //            }
            //        },
            //        {
            //            data: "",
            //            render: function (data, type, leg) {




            //                return "<select class='form-control' id='sel_" + leg.id + "'>" + driver_html + "</select>";


            //            }
            //        }
            //    ],
            //    //order: [[1, "desc"]],
            //    //scrollY: '14vh',

            //    //scrollCollapse: true,
            //    //paging: false,
            //    rowCallback: function (row,data) {
            //        //$(row).css("cursor", "pointer");
            //        //$(row).on("click", function () {
            //        //    window.location = "/loadconfirmations/editnote/" + data.id;
            //        //});
            //        //$("#" + leg.id).val("10");

            //        console.log("driver=" + data.driver.name+" id="+data.id);

            //        $("#sel_" + data.id).attr("selected", true);
            //    }

            //});

        });
    </script>
}

