
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><h3>Customer List</h3></p>

<a href="/customers/New" class="btn btn-primary btn-new-confirmation">New customer</a>

<table id="customer-list" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Zipcode</th>
            <th>Void</th>
            <th>Void Customer</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
    {
    <script>
        $(document).ready(function () {
            console.log("Document ready");
            var table = $("#customer-list").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "name"
                    }
                    ,
                    {
                        data: "address"
                    }
                    ,
                    {
                        data: "city"
                    }
                    ,
                    {
                        data: "state"
                    }
                    ,
                    {
                        data: "country"
                    }
                    ,
                    {
                        data: "zipcode"
                    }
                    ,
                    {
                        data: "void",
                        render: function (data) {
                            if (data == true) {
                                return "<input type='checkbox' onclick='return false;' checked>";
                            }
                            else {
                                return "<input type='checkbox' onclick='return false;'>";
                            }
                            
                        }
                    }
                    ,
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Void Customer</button>";
                        }
                    }
                ],
                scrollY: '60vh',
                scrollCollapse: true,

                paging: false,
                initComplete: function () {
                    console.log("Table ready");
                },
                rowCallback: function (row, data) {
                    $(row).css("cursor", "pointer");
                    $(row).on("click", function (e) {
                        if (e.target.tagName != 'BUTTON') {
                            window.location = "/customers/edit/" + data.id;
                        }
                    });
                }
            });

            $("#customer-list").on("click", ".js-delete", function () {
                var button = $(this);
                console.log("Delete button was pressed id="+ button.attr("data-customer-id"));
                bootbox.confirm("Are you sure you want to delete the customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                console.log("Item was deleted");
                                //table.row(button.parents("tr")).remove().draw();
                                table.ajax.reload();
                            }
                        });
                    }
                });

            });
        });
    </script>
}


