
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="form-group col-sm-4">
            <p><h3>HazMat List</h3></p>

            <a href="/HazMat/New" class="btn btn-primary btn-new-confirmation">New HazMat item</a>

            <table id="hazmat-list" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        @*<th>HazMat Id</th>*@
                        <th>HazMat Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


    @section scripts
    {
        <script>
            $(document).ready(function () {
                console.log("Document ready");
                var table = $("#hazmat-list").DataTable({
                    ajax: {
                        url: "/api/hazmat",
                        dataSrc: ""
                    },
                    columns: [
                        //{
                        //    data: "id"
                        //},
                        {
                            data: "name"
                        }
                        ,
                        {
                            data: "id",
                            render: function (data) {
                                return "<button class='btn-link js-delete' data-hazmat-id=" + data + ">Delete</button>";
                            }
                        }
                    ],
                    initComplete: function () {
                        console.log("Table ready");
                    },
                    rowCallback: function (row, data) {
                        $(row).css("cursor", "pointer");
                        $(row).on("click", function (e) {
                            if (e.target.tagName != 'BUTTON') {
                                window.location = "/hazmat/edit/" + data.id;
                            }
                        });
                    }
                });

                $("#hazmat-list").on("click", ".js-delete", function () {
                    var button = $(this);
                    console.log("Delete button was pressed id=" + button.attr("data-hazmat-id"));
                    bootbox.confirm("Are you sure you want to delete the item?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/hazmat/" + button.attr("data-hazmat-id"),
                                method: "DELETE",
                                success: function () {
                                    console.log("Item was deleted");
                                    //table.row(button.parents("tr")).remove().draw();
                                    table.ajax.reload();
                                }
                            });
                        }
                    });

                });
            });
        </script>
    }
